{% extends 'base.html' %}
{% block content %}


<style>
body {
    background: #1f8ef1;
    margin: 0;
    font-family: Arial, sans-serif;
}

.role-wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.role-box {
    text-align: center;
}

.role-title {
    color: white;
    font-size: 34px;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

.role-btn {
    display: inline-block;
    width: 240px;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.recruiter-btn {
    background: #1565c0;
}

.jobseeker-btn {
    background: #1565c0;
}

.role-btn:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 25px rgba(0,0,0,0.3);
}

.role-btn:active {
    transform: translateY(5px);
    box-shadow: 0 5px 0 rgba(0,0,0,0.25);
}
</style>

<div class="role-wrapper">
    <div class="role-box">
        <h2 class="role-title">Choose Your Role</h2>

        <a href="/recruiter/" class="role-btn recruiter-btn">
             Recruiter
        </a>

        <a href="/jobs/" class="role-btn jobseeker-btn">
             Job Seeker
        </a>

    </div>
</div>

{% endblock %}